.v-snack__content {
 @apply grid grid-cols-4;
}

.vts__message {
  @apply col-span-3 mr-auto;
}

.vts__message div {
  color: var(--v-secondary--text-base) !important;
}

.v-btn__content {
  color: var(--v-secondary--text-base) !important;
}

a {
  color: var(--v-secondary--text-base) !important;
}

.theme--light.v-application {
  background-color: var(--v-secondary-base) !important;
}
