.vts__message div {
  color: var(--v-secondary--text-base) !important;
}

.v-btn__content {
  color: var(--v-secondary--text-base) !important;
}

a {
  color: var(--v-secondary--text-base) !important;
}

.theme--light.v-application {
  background-color: var(--v-secondary-base) !important;
}
